@font-face {
  font-family: tibetan-chuk;
  src: url(./asset/fonts/tibetan-chuk.ttf);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3d0000;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(45px + 6vmin);
  color: white;
  margin: 50px;
  overflow: hidden;
}

.App-logo-tib-font {
  font-family: tibetan-chuk;
}

.App-link {
  color: #61dafb;
}
